.container
  br
  br
  br
  h1 click anywhere on this page to start sound

coffee:
  $(document).one 'touchstart', ->
    lowLag.init()
    lowLag.load([
      window.new_inbox_mp3_path,
      window.new_inbox_ogg_path,
      window.new_inbox_aac_path],
      "new_inbox"
    );

  $(document).ready ()->
    setInterval(->
      lowLag.play('new_inbox')
    , 2000)