@import 'mixins';
@import 'fonts';

.wrapper-price-deals {
  position: relative;

  .inner-deals-content {
  	float: left;
  	padding: 15px 5px;
  	width: 100%;

  	a {
	    color: #c3c3c3;
	    text-transform: uppercase;
	    letter-spacing: 1px;
  	}

  	.content-deals {
  		a.wrapper-text {
  			white-space: nowrap;
		    text-overflow: ellipsis;
		    overflow: hidden;
		    width: 302px;
		    display: inline-block;
  		}
  	}


  }

  .view-price-deals  {
  	float: right;
  	margin-top: 15px;

  	.btn-green-2 {
  		@extend %btn-green-2;
	    padding: 3px 30px;
    	font-size: 14px !important;
  	}
  }



  .price-deals {
  	display: inline-block;

  	h4 {
  		color: #c3c3c3;
    	font-size: 40px;
  	}
  }
}

.wrapper-search-deal {

  .icon {
    width: 10px;
    height: 10px;
    display: inline-block;

    &.delete {
      background: image-url("icon_delete_fill_input.png") no-repeat;
      background-size: cover;
      position: relative;
      top: 13px;
    }
  }

  .form-group {

    &:first-child {
      position: relative;
    }

    span {
      position: absolute;
      right: 11px;
      top: 7px;
    }
  }

  .btn-default {
    
  }
}

.wrapper-deals {
	padding-top: 100px;
	padding-bottom: 100px;
	margin-bottom: 70px;
 	background: rgb(245,75,67); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(245,75,67,1) 0%, rgba(255,175,83,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(245,75,67,1) 0%,rgba(255,175,83,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(147deg,  rgba(245,75,67,1) 0%,rgba(255,175,83,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f54b43', endColorstr='#ffaf53',GradientType=1 ); /* IE6-9 */
  overflow: hidden;

	h1 {
		color: #ffffff;
	}

	.wrapper-top-deals {
		h1,h2,p {
			color: #ffffff;
		}
		p {
			font-size: 20px;
			max-width: 900px;
    	margin: 0 auto;
		}
	}

	a {
		text-decoration: none;

		&:hover,
		&:focus,
		&:active {
			text-decoration: none;
		}
	}
}

#slideToggle {

	.panel-default {
		background-color: transparent;
		border: transparent;
	}

	input.input-deal {
		@extend %input-global;

  	@include placeholder {
      color: #d9d8d8 !important;
      font-size: 20px !important;
      letter-spacing: 1px !important;
      font-weight: normal !important;
    }
	}

	.btn-default {
		@extend %btn-green-2;
    margin-top: 20px;
	}
}

.wrapper-list-hotel {
  overflow: hidden;

  .wrapper-caption-content-deals {
    margin-top: 15px;
  }
}

.wrapper-like-deals {
  margin-top: 15px;

  .icon {
    width: 30px;
    height: 30px;
    display: inline-block;

    &.love-normal {
      background: image-url("icon_love_normal.png") no-repeat;
      background-size: cover;
      &:before {
        box-sizing: border-box;
        display: none;
      }
    }

    &.love-active {
      background: image-url("icon_love_active.png") no-repeat;
      background-size: cover;
      &:before {
        box-sizing: border-box;
        display: none;
      }
    }
  }
}

.card-item {
	-webkit-box-shadow: 0px 0px 10px 5px rgba(207,207,207,0.66);
	-moz-box-shadow: 0px 0px 10px 5px rgba(207,207,207,0.66);
	box-shadow: 0px 0px 15px 2px rgba(207,207,207,0.66);
	@include border-radius(5px);
  margin-bottom: 20px;
	padding: 10px;
}

.text-header-slide {
	position: relative;
	.round-button {
		position: absolute;
    bottom: -70px;
    left: 50%;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    background: #F65545;
    border-radius: 100%;
    .icon {
	  	display: block;
	  	width: 30px;
	  	height: 30px;

	  	&.arrow-down {
	  		background: image-url("down-chevron.png") no-repeat;
	  		position: absolute;
		    left: 10px;
		    top: 10px;
	  	}
	  }
	}
}

// .pagination {
// 	margin: 30px 0px;
// 	.active > .number {
// 		border-radius: 100%;
// 		background-color: #36b3af;
// 		border: none;
// 		color: #ffffff;
// 		padding: 3px 0px;
// 		width: 28px;
// 		height: 28px;
// 		text-align: center;
// 	}

// 	li > a {
// 		border: none;
// 		margin: 0px 3px;
// 		color: #36b3af;
// 		font-size: 18px;
// 		padding: 3px 12px;
// 		line-height: 1.2;
// 	}

// 	.number:focus {
// 		border-radius: 100%;
// 		background-color: #36b3af;
// 		border: none;
// 		color: #ffffff;
// 		padding: 3px 0px;
// 		width: 28px;
// 		height: 28px;
// 		text-align: center;
// 	}
// 	.number:hover {
// 		border-radius: 100%;
// 		border: none;
// 		text-align: center;
// 	}
// }