@import 'mixins';

.wrapper-forgot-password {
	@extend .wrapper-login ;
  margin-top: 200px;

	h1 {
		color: #ffffff;
		font-weight: normal;
		letter-spacing: 1px;
	}

	.forgot-password {
		@extend .login;
    margin-bottom: 30px;

		input.input-forgot-password {
			@extend input.input-registration;
		}

		.btn-default {
			margin-top: 0px;
			margin-bottom: 0px;
			padding: 12px 0px;
	    box-shadow: -1px 3px 10px -4px #000000;

	    &:hover,
	    &:focus,
	    &:active {
	    	box-shadow: -1px 3px 10px -4px #000000 !important;
	    }
		}
	}
	
	a {
		color: #ffffff;
	}
}