.wrap-hero {

	.hero {

		img {
			width: 100%;
		}
	}
}

.inner-item {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;

	.item-content {
		display: table;
		height: 100%;
		width: 100%;

		.item-center {
			display: table-cell;
			vertical-align: middle;
			text-align: center;

			h1 {
				font-weight: bold;
				color: #ffffff;
				font-size: 100px;
				line-height: 45px;
        margin-bottom: 106px;
			}

			h2,
			p {
				color: #ffffff;
			}

			p {
		    margin-top: 30px;
	    	margin-bottom: 40px;
			}

			.btn-default {
				@extend %btn-green;
		    font-size: 20px !important;
		    padding: 24px 50px;
			}
		}
	}
}

section.slogan {
	
	.wrap-slogan {
		margin-top: 30px;
		
		.slogan {
			
			h2 {
				display: inline-block;
		    margin-right: 5px;
		   //  background: -webkit-linear-gradient(#f54b43, #f9a036);
			  // -webkit-background-clip: text;
			  // -webkit-text-fill-color: transparent;
	      	font-size: 60px;
			    margin-bottom: 50px;
			    margin-right: 30px;

			  &:last-child {
			  	margin-right: 0px;
			  }
			}

			p {
		    font-size: 33px;
				color: #999999;
				margin-top: 16px;
			}
		}
	}
}

section.money,
section.couple {

	.wrap-money,
	.wrap-couple {
		margin-top: 40px;

		.money,
		.couple {
    	position: relative;

    	p {
    		font-size: 16px;
    		color: #ffffff;
    	}

			img {
				width: 100%;
			}
		}
	}
}

section.money {

	.wrap-money {

		p {
    	font-size: 30px !important;
		}
	}
}

section.information {

	.information {
		margin-top: 100px;
		margin-bottom: 100px;

		h3 {
			color: #000000;
			font-size: 50px; 
			font-weight: bold;
		}

		img {
    	width: 130px;
		}
	}

	p {
		color: #999999;
    font-size: 20px;
	}

	.how-it-works {
  	margin-top: 50px;
	}
}

section.couple {

	.wrap-couple {

		.couple {

			h1 {
	    	font-size: 53px;
	    	margin-bottom: 40px;
			}
			
			p {
	    	margin-bottom: 30px;
	    	font-size: 30px;
			}

			.btn-default {
				background-color: transparent;
				border-color: #ffffff;

				&:hover,
				&:focus,
				&:active {
					box-shadow: none;
					border-color: #ffffff;
				}
			}
		}
	}
}


section.vacation {
	overflow: hidden;

	.vacation-desc {

		h1 {
			font-weight: bold;
			color: #000000;
		}

		p {
	  	margin-top: 20px;
    	margin-bottom: 40px;
		}
		
		.btn-default {
			@extend %btn-green;
		}
	}

	.image-vacation {

		.inner-image {
	    margin-bottom: -1px;

			img {
				max-width: 100%;
			}
		}
	}
}


.no-pad-right {
	padding-right: 0px;
}