@import 'mixins';
@import 'fonts';

.wrap-hero {
  height: 100%;

	.hero {
		height: 100%;

		img {
			width: 100%;
		}

		.owl-carousel {
			height: 100%;

			.owl-stage-outer {
				height: 100%;

				.owl-stage {
					height: 100%;

					.owl-item {
						height: 100%;

						.item {
							height: 100%;

							.parallax-image {
								height: 100%;
							}
						}
					}
				}
			}
		}
	}
}

.inner-item {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;

	.item-content {
		display: table;
		height: 100%;
		width: 100%;

		.item-center {
			display: table-cell;
			vertical-align: middle;
			text-align: center;

			h1 {
				font-family: 'Avenirregular';
				color: #ffffff;
		    font-size: 90px;
				line-height: 45px;
        margin-bottom: 106px;
        line-height: 90px;
        -webkit-font-smoothing: antialiased;
			}

			h2,
			p {
				color: #ffffff;
			}

			p {
		    margin-top: 30px;
	    	margin-bottom: 40px;
			}

			.btn-default {
				@extend %btn-green;
		    font-size: 17px !important;
        padding: 17px 27px
			}
		}
	}
}

section.slogan {
	
	.wrap-slogan {
		margin-top: 30px;
		
		.slogan {
			
			h2 {
				font-family: 'Avenirregular';
				display: inline-block;
		    margin-right: 20px;
		    font-size: 60px;
		    line-height: 1.2em;
		    text-decoration: none;
		    letter-spacing: .015em;
		    font-weight: bold;
        color: #505050;
        -webkit-font-smoothing: antialiased;
			}

			.mar-right {
				margin-right: 0px;
			}

			p {
				font-family: 'Avenirregular';
		    font-size: 22px;
		    color: #505050;
		    margin-top: 16px;
		    // letter-spacing: .015em;
		    line-height: 1.8em;
		    font-weight: 300;
			}
		}
	}
}

// section.couple {
// 	background: image-url("banner_img_3.png");
// }

section.money,
section.couple {

	.wrap-money,
	.wrap-couple {
		margin-top: 40px;

		.money,
		.couple {
    	position: relative;

    	p {
    		font-size: 16px;
    		color: #ffffff;
    	}

			img {
				width: 100%;
			}
		}
	}
}

section.money {

	.wrap-money {

		h2 {
			font-family: 'Avenirregular';
			text-align: left;
	    font-size: 36px;
	    // text-transform: uppercase;
		}

		p {
			font-family: 'Avenirregular';
			text-align: left;
	    font-weight: 300;
    	font-size: 22px !important;
		}
	}
}

section.information {

	.information {
		margin-top: 100px;
		margin-bottom: 100px;

		h3 {
			font-family: 'Avenirbold';
			color: #505050;
			font-size: 50px;
			-webkit-font-smoothing: antialiased;
		}

		img {
    	width: 130px;
		}
	}

	p {
		font-family: 'Avenirregular';
		color: #505050;
    font-size: 20px;
	}

	p.top-text {
  	font-size: 22px;
    color: #999999;
    margin-top: 16px;
    letter-spacing: .015em;
    line-height: 1.8em;
    font-weight: 300;
	}

	.how-it-works {
  	margin-top: 50px;
	}
}

section.couple {

	.wrap-couple {

		.couple {

			.item-center {
				text-align: left;
				
			}

			h2 {
				font-family: 'Avenirregular';
		    font-size: 45px;
		    // text-transform: uppercase;
			}
			
			p {
				font-family: 'Avenirregular';
	    	margin-bottom: 30px;
	    	font-size: 22px
			}

			.btn-default {
				background-color: transparent;
				border-color: #ffffff;
				border: solid 3px white;
			  font-size: 17px !important;
        padding: 15px 17px;

				&:hover,
				&:focus,
				&:active {
					box-shadow: none;
					border-color: #ffffff;
					background-color: rgba(255, 255, 255, 0.44);
				}
			}
		}
	}
}


section.vacation {
	overflow: hidden;

	.vacation-desc {

		h1 {
			font-weight: bold;
			color: #000000;
		}

		p {
	  	margin-top: 20px;
    	margin-bottom: 40px;
		}
		
		.btn-default {
			@extend %btn-green;
		}
	}

	.image-vacation {

		.inner-image {
	    margin-bottom: -1px;

			img {
				max-width: 100%;
			}
		}
	}
}

.parallax-image  {
  height: 100%;

  img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: auto;
  }
}


.no-pad-right {
	padding-right: 0px;
}

.hero-image-1 {
	background: image-url('banner_img_1.png') center; 
	background-attachment: fixed;
	background-size: cover;
}

.hero-image-2 {
	background: image-url('banner_img_1.jpg') center; 
	background-attachment: fixed;
	background-size: cover;
}


