.col-deals {
  margin-top: 20px;
  padding: 2px !important;
}

p.content-deals.text-center {
  margin: auto;
  width: 200px;
  height: 50px;
}

#collapseDeals {
  display: none;
}

.add-on .input-group-btn > .btn {
  border-left-width:0;left:-2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* stop the glowing blue shadow */
.add-on .form-control:focus {
 box-shadow:none;
 -webkit-box-shadow:none;
 border-color:#cccccc;
}

.datepicker td,
.datepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: none;
  color: #000000;
}

.hide-thumb-image {
  display: none;
}

.mar-btm-60 {
  margin-bottom: 60px;
}

.room-wrapper {
  padding: 40px 0;

  #roomAvailability {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    padding: 20px;
    -webkit-box-shadow: 0px 15px 35px -10px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 0px 15px 35px -10px rgba(0, 0, 0, 0.44);
    box-shadow: 0px 15px 35px -10px rgba(0, 0, 0, 0.44);
  }

  a {
    font-size: 16px;
  }

}

.wrapper-gallery-deals {

  -webkit-box-shadow: 0px 15px 35px -10px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 0px 15px 35px -10px rgba(0, 0, 0, 0.44);
  box-shadow: 0px 15px 35px -10px rgba(0, 0, 0, 0.44);

  .blueimp-gallery {
    background-color: #ffffff;
  }

  .blueimp-gallery > .slides > .slide > .slide-content {
    max-height: inherit;

    @media screen and (min-width: 320px) {
      max-width: 100%;
      width: inherit;
    }

    @media screen and (min-width: 1824px) {
      max-width: inherit;
      width: 100%;
    }
  }

  .blueimp-gallery-carousel {
    box-shadow: none;
  }
}

ul.room-availability {
  list-style-type: none;
  padding-left: 0;
}

.text-header-slide {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  h1 {
    display: inline-block;
  }
}

.rating-text {
  font-size: large;
  padding-left: 6px;
}

#hotelRating, #roomRating {
  font-size: 23px;
  color: #F8B200;
}

p#pagination-info{
  font-weight: 500;
}

// Override jquery simple pagination button style
.light-theme {

  a {

    background-color: transparent;
    color: #36b3af !important;
    padding: 4px 12px !important;
  }

  .current {
    color: #ffffff !important;
    background-color: #36b3af !important;
    box-shadow: 0px 0px 0px;
    padding: 4px 12px !important;

  }

  .prev {
    color: #36b3af !important;
    background-color: transparent !important;
  }
}

.column-price {
  font-size: 24px;
}

.hotel-name {
  margin-bottom: 0;
}

.form-vote {
  display: none;
}

.popover-list-users {
  font-size: 20px;
  margin-bottom: 20px;

  img {
    padding-right: 20px;
  }
}

.popover {
  max-width: 100%;
}

.wrapper-pagination {
  margin: 0 auto;
  #pagination {
    padding: 0;
    ul {
      padding: 15px 0;
      list-style: none;
      margin: 0;
      width: 100%;
      text-align: center;
      display: block;
      li {
        display: inline-block;
        float: none;
      }
    }
  }
}

.hotel-voter-list-container .popover.top{
  right: 0;
}

.room-wrapper .popover.top{
  left: 0 !important;
}


#roomAvailability {
  overflow: hidden;
}

.room-wrapper {

  .wrapper-head-room {
    overflow: hidden;
    padding: 10px 0px;

    .head-room-type, .head-amenities, .head-book-price {
      float: left;
      width: 25%;
      font-weight: bold;

      @media (max-width: 768px) {
        display: none;
      }

      @media (min-width: 768px) {
        display: block;
      }
    }

    .head-room-type {

      @media (min-width: 768px) {
        width: 35%;
      }
    }

    .head-amenities {

      @media (min-width: 768px) {
        width: 20%;
      }
    }
  }

  .wrapper-body-room {
    padding: 10px 5px;
    overflow: hidden;

    .room-type,
    .amenities,
    .booking-price,
    .btn-let-go {
      float: left;
    }

    .room-type {

      .title-room {
        font-weight: bold;
        margin-bottom: 20px;
      }

      .room-desc {
        margin: 20px 0px;
      }

      img {
        width: 200px;
      }
    }

    .amenities {

      .offers {
        font-size: 15px;
      }
    }

    .booking-price {

      .price {
        font-size: 24px;
        font-weight: bold;
      }
    }

    .btn-let-go {
      text-align: right;

      a {
        width: 200px;

        @media (max-width: 768px) {
          width: 100%;
        }

       @media (min-width: 768px) {
          width: 100%;
        }
      }
    }


    .room-type {
      width: 25%;

      @media (max-width: 768px) {
        width: 100%;
      }

      @media (min-width: 768px) {
        width: 35%;
      }
    }

    .amenities {
      width: 25%;

     @media (max-width: 768px) {
        width: 100%;
      }

      @media (min-width: 768px) {
        width: 20%;
      }
    }

    .booking-price {
      width: 25%;

      @media (max-width: 768px) {
        width: 100%;
      }

      @media (min-width: 768px) {
        width: 25%;
      }
    }

    .btn-let-go {
      width: 25%;

      @media (max-width: 768px) {
        width: 100%;
      }

      @media (min-width: 768px) {
        width: 20%;
      }
    }
  }
}

 .wrapper-body-room {

  border-top: 1px solid #dddddd;

  &:nth-of-type(odd) {
    background-color: #f9f9f9;
  }

  &:hover {
    background-color: #f5f5f5;
  }
 }

.title-mobile, .title-row {
  font-weight: bold;
  border-bottom: 2px solid transparent;
  margin: 10px 0px;
  padding: 10px 0px;

  @media (min-width: 760px) {
    display: none;
  }

  @media (min-width: 1200px) {
    display: none;
  }
}

.mandatory-tax {
  color: #337ab7;
}

.total-charges-text, h4 {
  margin-bottom: 0;
}

.pac-container {
  z-index: 7777;
}