/* Place all the styles related to the Deals controller here.
 * They will automatically be included in application.css.
 * You can use Sass (SCSS) here: http://sass-lang.com/
*/

.col-deals {
  margin-top: 20px;
}

p.content-deals.text-center {
  margin: auto; width: 200px; height: 50px;
}

#collapseDeals {
  display: none;
}

