@font-face {
	font-family: 'Avenirregular';
  src: font-url('AvenirNextLTPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'Avenirbold';
	font-style: normal;
	font-weight: normal;
	src: font-url('AvenirNextLTPro-Bold.woff') format('woff');
}
