// Full Background

html {
  width: 100%;
  height: 100%;
}

.is-home {
  background: image-url("bg_2.jpg") bottom center no-repeat;
  background-size: 100% 100%;
}

// End Full Background

// Header Style

.wrapper-intro {

  .btn-default {
    @extend .btn-signup;
  }
}

// End Header Style

// Navigation Style

.wrapper-navbar-traveltrunk {

  // .navbar-default {
  //   background-color: transparent;
  //   border-radius: 0px;
  //   border-color: transparent;
  // }

  // .navbar-nav > li > a {
  //   color: #ffffff;

  //   &:hover {
  //     color: #ffffff;
  //     text-decoration: underline;
  //   }
  // }

  // .wrapper-navbar-brand {

  //   img {
  //     width: 40px;
  //   }
  // }
}


// End Naviagtion Style

// Button Style

.btn-save,
.btn-signup,
.btn-login,
.btn-edit-profile,
.btn-update-profile,
.btn-orange {
  background: rgb(239,62,54); /* Old browsers */
  background: -moz-linear-gradient(top,  rgb(239,62,54) 0%, rgb(247,148,30) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(239,62,54)), color-stop(100%,rgb(247,148,30))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgb(239,62,54) 0%,rgb(247,148,30) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgb(239,62,54) 0%,rgb(247,148,30) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgb(239,62,54) 0%,rgb(247,148,30) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgb(239,62,54) 0%,rgb(247,148,30) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef3e36', endColorstr='#f7941e',GradientType=0 ); /* IE6-9 */
  color: #ffffff;
  border-color: transparent;
}


// End Button Style


// Login Page

.wrapper-login {

  .btn-default {
    @extend .btn-login;
  }
}

// End Login Page


// Profile Page Stlye

.wrapper-profile {

  .btn-default {
    @extend .btn-edit-profile;
  }
}

.wrapper-user-name {

  h1 {
    font-size: 40px;
  }
}

.wrapper-img-profile {
  margin-top: 27px;
}

// End Profile Page Style

// Edit Profile Page Style

.wrapper-edit-profile {

  h1 {
    padding-left: 10px;
    padding-bottom: 24px;
  }

  .btn-default {
    @extend .btn-update-profile;
  }
}

// End Edit Profile Page Style

// Deal Page Style

.wrapper-search-deal {

  .btn-default {
    @extend .btn-save;
  }
}

// End Deal Page Style
