// Color
$yellow : #FDA351;
$green 	: #3DB1AE;
$orange : #F55144;

@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin placeholder {
  &::-moz-placeholder { @content }
  &::-webkit-input-placeholder { @content }
  &:-ms-input-placeholder { @content }
}

.btn-saving {
	color: white;
  padding: 15px 30px !Important;
  font-size: 17px;
  -webkit-transition: 0.2s; /* Safari */
  transition: 0.2s;
  margin-bottom: 10px;
  border-radius: 4px !Important;
  &:hover {
  	color: white;
  	opacity: 0.5;
  }
	&.btn-yellow {
		background-color: $yellow;
	}
	&.btn-green {
		background: $green !Important;
		background-color: $green;
	}
	&.btn-orange-soft {
		background-color: $orange;
	}
}

.color-orange {
	color: $orange;
}

.btn-full-size {
	width: 100%;
}

a.round-slide-next {
	display: block;
	// background-color: $orange !Important;
	background: image-url("down-chevron.png") no-repeat center !Important;
	-ms-transform: rotate(-90deg) !Important; /* IE 9 */
  -webkit-transform: rotate(-90deg) !Important; /* Chrome, Safari, Opera */
  transform: rotate(-90deg) !Important;
  -webkit-transition: 0.2s; /* Safari */
  transition: 0.2s;
  &:hover {
  	background-color: $orange !Important;
  }
}

a.round-slide-prev {
	display: block;
	// background-color: $orange !Important;
	background: image-url("down-chevron.png") no-repeat center !Important;
	-ms-transform: rotate(90deg) !Important; /* IE 9 */
  -webkit-transform: rotate(90deg) !Important; /* Chrome, Safari, Opera */
  transform: rotate(90deg) !Important;
  -webkit-transition: 0.2s; /* Safari */
  transition: 0.2s;
  &:hover {
  	background-color: $orange !Important;
  }
}

%btn-green {
	background-color: #3db1ae;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-color: #3db1ae;
  line-height: 30px;
  font-size: 12px;
  -webkit-transition: all 250ms ease-in-out 0s;
  -moz-transition: all 250ms ease-in-out 0s;
  -ms-transition: all 250ms ease-in-out 0s;
  -o-transition: all 250ms ease-in-out 0s;
  transition: all 250ms ease-in-out 0s;

	&:hover,
	&:active,
	&:focus {
		-webkit-box-shadow: 0px 0px 60px -3px rgba(61,177,174,1);
		-moz-box-shadow: 0px 0px 60px -3px rgba(61,177,174,1);
		box-shadow: 0px 0px 60px -3px rgba(61,177,174,1);
		border-color: #3db1ae;
	}
}

%btn-green-2 {
	@extend %btn-green;
  font-size: 20px;

	&:hover,
	&:focus,
	&:active {
		background-color: #2A8A87;
		border-color: #2A8A87;
		box-shadow: none;
	}
}

%btn-green-dark {
	@extend %btn-green;
	background-color: #3db1ae;
	border-color: #3db1ae;

	&:hover,
	&:focus,
	&:active {
		box-shadow: none;
		background-color: #4fc0c0;
		border-color: #4fc0c0;
	}
}

.input-custom {
	height: 54px;
}

%input-global {
	line-height: 20px;  /* Safari */
	height: 54px;
  box-shadow: -1px 3px 10px -4px #000000;
}