.wrapper-img-saving {
    margin-top: 15px;
}

.wrapper-img-saving img {
    width: 100%;
}

ul {
  list-style-type: none;
}

// override bootstrap token-input

li.token-input-token{
  padding: 2% 1% !important;
  font-size: 1em !important;
}
