// Place all the styles related to the Savings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper-img-saving {
    margin-top: 15px;
}
.wrapper-img-saving img {
    width: 100%;
}

ul {
  list-style-type: none;
}

.img-saving {
  width: 300px !important;
  display: block;
  margin: 20px auto;
}

.name-saving {
  padding-left:0 !important;
}
